.row{
    margin-left:20px;
    color: #fff;

}
.posters{
    display: flex;
    padding:20px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.posters::-webkit-scrollbar{
    display: none;
}
 .poster{
    cursor: pointer;
    max-height: 250px;
    margin-right: 10px;
 }  
 @media (max-width: 500px) {
   .poster{
   height:170px; /* Adjust max-height for smaller screens */
 }
}

@media (max-width: 500px) {
   .poster:hover{
   height:170px; /* Adjust max-height for smaller screens */
   transform: scale(.3);
 }
}

 .smallposter{
    cursor: pointer;
    max-height: 150px;
    margin-right: 10px;
 }     
 .poster:hover{
    transform: scale(1.3);
 }
 .smallposter:hover{
    transform: scale(1.08);
 }     